@import "../../styles/main.scss";

#poster {
  width: 100%;
  cursor: pointer;

  img {
    width: 100%;
    max-width: 14rem;
    @include light-shadow();
  }
}

#title {
  padding-top: 1rem;
  cursor: pointer;
  position: relative;
  bottom: 0;
  z-index: 100;

  span {
    margin: 0;
    font-weight: 500;
  }
}
@media only screen and (max-width: 1023px) {
  #poster {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
