@import "../../styles/main.scss";

p {
  font-weight: 600;
}

#filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  form {
    @include light-shadow();

    input,
    select {
      box-sizing: border-box;
      height: 2rem;
      padding-left: 1rem;
    }
  }

  #search-form {
    display: flex;
    align-items: center;

    input {
      width: 30rem;
    }

    div {
      display: grid;
      place-items: center;
      height: 2rem;
      padding: 0 1rem;
    }
  }

  #sort-form {
    select {
      width: 20rem;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

#icon-button {
  background-color: $blue;
  color: white;
  cursor: pointer;

  &:active {
    background-color: $blue-light;
  }
}
