@import "../../styles/main.scss";

p {
  font-weight: 600;
}

#forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  form {
    @include light-shadow();

    input,
    select {
      box-sizing: border-box;
      height: 2rem;
      padding-left: 1rem;
      border: 1px solid $blue;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    input {
      width: 24rem;
    }

    div {
      display: grid;
      place-items: center;
      height: 2rem;
      padding: 0 1rem;
    }
  }

  &__sort {
    select {
      width: 16rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23017efe'><polygon points='0,0 100,0 50,50'/></svg>")
        no-repeat;
      background-size: 1.4rem;
      background-position: calc(100% - 1rem) 0.6rem;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}

#button--icon {
  background-color: $blue;
  color: white;
  cursor: pointer;

  &:active {
    background-color: $blue-light;
  }
}

@media only screen and (max-width: 1023px) {
  #forms {
    flex-direction: column;

    form:first-child {
      margin-bottom: 1rem;
    }

    #forms__search,
    #forms__search > input,
    #forms__sort,
    #forms__sort > select {
      width: 100%;
    }
  }
}
