@import "../../styles/main.scss";

form {
  display: flex;
  align-items: center;

  input {
    box-sizing: border-box;
    height: 2rem;
    width: 30rem;
    padding-left: 1rem;
  }

  div {
    display: grid;
    place-items: center;
    height: 2rem;
    padding: 0 1rem;
  }
}

#icon-button {
  background-color: $blue;
  color: white;
  cursor: pointer;

  &:active {
    background-color: $blue-light;
  }
}
