@import "../../styles/main.scss";

footer {
  min-height: 10rem;
  display: flex;
  flex-flow: row wrap;

  padding: 2rem $side-spacing;

  background-color: $gray-dark;
  color: white;

  font-size: 0.8rem;

  > div {
    width: 100%;
  }
}

span {
  margin: 0 1rem;
}

p {
  opacity: 0.6;
}

#links a {
  opacity: 0.8;
}

.links__element {
  color: white;
  text-decoration: none;

  &:hover {
    opacity: 1 !important;
  }
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2rem;

  #buttons__social button {
    margin-right: 1.5rem;
  }

  #buttons__store button {
    margin-left: 1.5rem;
  }
}

.svg--store {
  height: 2.5rem;
}

.svg--social {
  height: 1.8rem;
}

@media only screen and (max-width: 870px) {
  #links {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4rem;

    a,
    span {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  #copyright {
    text-align: center;
  }

  #buttons {
    div {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1.4rem;

      button {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }

  #buttons__store {
    flex-direction: column;

    button {
      margin-bottom: 0.6rem;
    }
  }
}
